In [1]:
import pandas as pd

In [2]:
import os

In [3]:
%pwd

'/Users/satwiksahoo/Desktop/CodeBasics/machine learning/krish naik/1st_project/data_science_project/research'

In [5]:
data = pd.read_csv('artifacts/data_ingestion/winequality-red.csv')

In [6]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [44]:
from dataclasses import dataclass
from pathlib import Path
@dataclass
class dataTransformationConfig:
    root_dir : Path
    data_path : Path

In [45]:
from src.datascience.constants import *
from src.datascience.utils.common import read_yaml , create_directories

class configmanager:
    def __init__(self, config_filepath = config_file_path , params_filepath = param_file_path , schema_filepath = schema_file_path):
        self.config = read_yaml(config_filepath)
        self.param = read_yaml(params_filepath)
        self.schema = read_yaml(schema_filepath)
        
        create_directories([self.config.artifacts_root])



    def get_data_transformation(self) -> dataTransformationConfig:
        config = self.config.data_transformation
        schema  = self.schema.COLUMNS
        create_directories([config.root_dir])    


        datatransformation_config = dataTransformationConfig(

            root_dir  = config.root_dir,
            data_path= config.data_path

        )

        return datatransformation_config

In [46]:
import os
import pandas as pd
from src.datascience import logger
from sklearn.model_selection import train_test_split
class data_transformation:

    def __init__(self, config: dataTransformationConfig):
        self.config = config


    # def train_test_splitting(self):
    #     data = pd.read_csv(self.config.data_path)

    def train_test_splitting(self):
        try:
            # Load the dataset
            data = pd.read_csv(self.config.data_path)
            logger.info(f"Loaded data from {self.config.data_path} with shape {data.shape}")

            # Train-test split
            train, test = train_test_split(data)

            # Ensure directories exist
            train.to_csv(os.path.join(self.config.root_dir , "train.csv"), index=False)
            test.to_csv(os.path.join(self.config.root_dir , "test.csv"), index=False)

            

        

            logger.info(f"Train-test split done. Train shape: {train.shape}, Test shape: {test.shape}")
            return train, test

        except Exception as e:
            logger.exception("Error occurred during train-test split")
            raise e

In [47]:
try:
    config = configmanager() 
    data_transformation_config = config.get_data_transformation()
    data_transformation = data_transformation(config=data_transformation_config) 
    data_transformation.train_test_splitting()



   
  

except Exception as e:
   raise e

[DEBUG] Trying to load YAML from: /Users/satwiksahoo/Desktop/CodeBasics/machine learning/krish naik/1st_project/data_science_project/config/config.yaml | Exists: True
[2025-06-30 19:41:48,766 : INFO : common : YAML file: /Users/satwiksahoo/Desktop/CodeBasics/machine learning/krish naik/1st_project/data_science_project/config/config.yaml loaded successfully.]
[DEBUG] Trying to load YAML from: /Users/satwiksahoo/Desktop/CodeBasics/machine learning/krish naik/1st_project/data_science_project/params.yaml | Exists: True
[2025-06-30 19:41:48,768 : INFO : common : YAML file: /Users/satwiksahoo/Desktop/CodeBasics/machine learning/krish naik/1st_project/data_science_project/params.yaml loaded successfully.]
[DEBUG] Trying to load YAML from: /Users/satwiksahoo/Desktop/CodeBasics/machine learning/krish naik/1st_project/data_science_project/schema.yaml | Exists: True
[2025-06-30 19:41:48,769 : INFO : common : YAML file: /Users/satwiksahoo/Desktop/CodeBasics/machine learning/krish naik/1st_project/data_science_project/schema.yaml loaded successfully.]
[2025-06-30 19:41:48,771 : INFO : common : Directory created at: artifacts]
[2025-06-30 19:41:48,771 : INFO : common : Directory created at: artifacts/data_transformation]
[2025-06-30 19:41:48,795 : INFO : 3876598309 : Loaded data from artifacts/data_ingestion/winequality-red.csv with shape (1599, 12)]
[2025-06-30 19:41:48,819 : INFO : 3876598309 : Train-test split done. Train shape: (1199, 12), Test shape: (400, 12)]